 h1 {
        text-align: center;
        font-size: 12pt;
        color: #000099;
        margin-bottom: 5px;
        text-decoration: underline;
    }
  
    table {
        margin: 5px;
        width: 290px;
    }
  
    th {
        padding: 3px;
    }
  
    td {
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #990000;
        background-color: #ffffcc;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  height: 100%;
  padding-bottom: 0px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.container{
	display: flex;
}

body{
	font-family: Arial;
}

.br{
	border-radius: 15px;
}

.one{
	height: 20%;
	width:20%;
}

.two{
	height: 100%;
	width:100%;
}

.boxed {
  background-color: white;
}

.pad{
	padding: 5px
}

.pad2{
	padding: 15px
}

.gap{
	margin-bottom:55px;
}

.shadow{
	box-shadow: 5px 10px 20px;
}

.move{
	position: absolute;
	left: 0px;
}

.restaurant{
	height: auto;
	width: 100%;
}

.b{
	font-weight: bold;
}
.margin{
	display:inline-block;
	margin: auto;
}

.fon{
	font-size:1.2vw;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 40%;
    margin-bottom: 20px;
    padding-bottom: 1px;
    padding-top: 3px;
    padding-right: 4px;
    background-color: white;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 40%;
    margin-bottom: 10px;
    padding-bottom: 1px;
    padding-top: 10px;
    padding-right: 4px;
    background-color: white;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
}

.Category{
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.split{
    border-bottom: 1px solid;
}

.height{
    height: 100;
}